// Package docs Placeholder for swagger documentation
// This file is created during project initialization to allow imports to resolve.
// Run 'swag init' to generate proper swagger documentation.
package docs

// Placeholder comment to satisfy go mod tidy
// This package will be replaced when swagger docs are generated
